body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

input, button {
    margin: 2px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 3px 0;
    padding: 5px;
    border-radius: 5px;
}

.list-group-item {
    transition: background-color 0.3s;
}

input.form-control {
    flex: 1;
}
